/*------------------------------------------------------*
*-- CSS Drupal--------------*
*------------------------------------------------------*/

/*------------------------------------------------*
 *---  Provence Formation Janv. 2010 --*
 *------------------------------------------------*/

/**********STYLE POUR LES BLOCS*******************/

/**----HEADER---***/


/**----MIDDLE---***/
#middle-content p{
	color:#000;
	padding: 3px;

}

/*style lien en savoir plus*/
li.node_read_more a{
color : red;
text-decoration: none;
text-align:left;
}
li.node_read_more a:hover{
text-decoration: underline;
}
/********JWRotator*******/
.field-field-rotator{
margin: auto;
padding: 2px;
border: 1px solid #000;
width:400px;
}

/***placement miniatures lightbox2**/
a.lightbox-processed img {
float:left;
margin:5px;
}
/****------formulaire contact/////////*/
#contact-mail-page{
margin: auto;
width: 550px;
padding: 0;
}

/**----CONTENT TOP---***/
#content-header{
padding: 5px;
}
/**style du fil d'ariane**/
.breadcrumb {
color:#d63e2a;
text-decoration:none;
}
##ariane{
    display: block;
    width: auto;
background: white;
}

.breadcrumb a{
color:#4e4d5e;
text-decoration:none;
background: white;
}
.breadcrumb a:hover{
color:#000;
text-decoration:underline;
}
/**----CONTENT BOTTOM---***/
#content-top{}
.taxonomy{
text-align:right;
padding: 3px;
margin: 0px;
}
.taxonomy a{
color: #d63e2a;
text-decoration:none;
}
.taxonomy a:hover{
text-decoration:underline;
}
/*----page login------*/
#user-login{
margin: auto;
width: 450px;
padding:10px 0;
}
/**----COLONNE GAUCHE---***/
#left-content p{
	color:#000;

}
#left-content a{
	color:#666666;
	text-decoration:none;
}
#left-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#left-content li{
	margin:0;
	padding: 0;
	}
/**----COLONNE DROITE---***/
#right-content p{
	color:#000;

}
#right-content a{
	color:#666666;
	text-decoration:none;
}
#right-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#right-content li{
	margin:0;
	padding: 0;
	list-style:none;
}


 /*------------------------------------------------------*
  *------------ CSS H  ----*
  *------------------------------------------------------*/
  
h1 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 20px;
}
  
h2 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 18px;
}
h2.title{
	margin: 5px;
	padding: 0;
	color:#000;
	font-size: 18px;
}
h2.title a{
	color:#EA5132;
        text-decoration: none;
}
h2.title a:hover{
	text-decoration: underline;
}
h3 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 16px;
}
h4 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 14px;
}
h5 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 12px;
}
h6 {
	margin: 0;
	padding: 0;
	color:#000;
	font-size: 10px;
}

/*STYLE PAGE LYCEE*/
.table-formation{
    width: 320px;
    border: 0;
    text-align:right;
}
.table-formation .diplome{
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    border-bottom: 1px dotted gray;

}
.views-field-diplome a{
     color: gray;
      text-decoration: none;
}
.views-field-diplome a:hover{
   text-decoration: underline;
}
/*STYLE PAGE FORMATIONS INITIALES*/
.title-formation, .title-association, .title-fiche-formation{
    text-align: center;
    color: #EA703F;
}
.title-fiche-formation{
    text-align: right;
}
.table-liste-formation{
    width: 630px;/*largeur du tableau contenant les formations*/
    background: none;
    margin: 0 auto;
    
}
.titre-categorie-diplome{
    border-bottom: 1px dotted gray;
    color: black;
}
.view-liste-formation-initiales{
    background: none;
    width:auto;
}
.views-field-titre-categorie, .views-field-titre-categorie a{
    color: gray;
    text-align: right;
    text-decoration: none;
}
.views-field-titre-categorie a:hover{
    text-decoration: underline;
}
.tr-table-formations{
    background: none;

}
.views-field-table{
    color:black;
}