/*------------------------------------------------------*
*-- CSS Drupal--------------*
*------------------------------------------------------*/

/*------------------------------------------------*
 *---  Provence Formation Janv. 2010 --*
 *------------------------------------------------*/

/**********STYLE POUR LES BLOCS*******************/

/**----HEADER---***/


/**----MIDDLE---***/
a#retour_haut{
    display: none;
    color: green;
    text-decoration: none;
    text-align: right;
    float:right;
}
a:hover#retour_haut{
    text-decoration: underline;
}
p{
	
	padding: 2px 0;
        margin: 0;

}
#middle-content-pageAssociation p, ul{
    padding: 5px;
    margin: 0;
}
#middle-content-pageAssociation h3, h2{
    color: #EA703F;
    padding: 2px;
}
#middle-content-pageAssociation h2{
   text-align: center;
}
#middle-content-pageAssociation h4{
    color: #94127F;
    padding: 2px;
    text-indent: 3px;
}
.table_generik{
    border: 0px solid black;
    width: 95%;
}
.table_generik tr{
    border: 0px solid black;
}
.table_generik tr.ligne_1{
    background: transparent;
    color: black;
}
.table_generik tr.ligne_2{
   background: #ADC91F;
   color: white;
}
.table_generik td{
    border: 0px solid black;
   
}
/*style lien en savoir plus*/
li.node_read_more a{
color : red;
text-decoration: none;
text-align:left;
}
li.node_read_more a:hover{
text-decoration: underline;
}
/********JWRotator*******/
.field-field-rotator{
margin: auto;
padding: 2px;
border: 1px solid #000;
width:400px;
}

/***placement miniatures lightbox2**/
a.lightbox-processed img {
padding: 2px;
margin:0;
}
/****------formulaire contact/////////*/
#contact-mail-page{
margin: auto;
width: 550px;
padding: 0;
}

/**----CONTENT TOP---***/
#content-header{
padding: 5px;
}
/**style du fil d'ariane**/
.breadcrumb {
color:#d63e2a;
text-decoration:none;
}
##ariane{
    display: block;
    width: auto;
background: white;
}

.breadcrumb a{
color:#4e4d5e;
text-decoration:none;
background: white;
}
.breadcrumb a:hover{
color:#000;
text-decoration:underline;
}
/**----CONTENT BOTTOM---***/
#content-top{}
.taxonomy{
text-align:right;
padding: 3px;
margin: 0px;
}
.taxonomy a{
color: #d63e2a;
text-decoration:none;
}
.taxonomy a:hover{
text-decoration:underline;
}
/*----page login------*/
#user-login{
margin: auto;
width: 450px;
padding:10px 0;
}
/**----COLONNE GAUCHE---***/
#left-content p{
	color:#000;

}
#left-content a{
	color:#666666;
	text-decoration:none;
}
#left-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#left-content li{
	margin:0;
	padding: 0;
	}
/**----COLONNE DROITE---***/
#right-content p{
	color:#000;

}
#right-content a{
	color:#666666;
	text-decoration:none;
}
#right-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#right-content li{
	margin:0;
	padding: 0;
	list-style:none;
}
/*STYLE PAGE LYCEE*/
.table-formation, #table-acces{
    width: 320px;
    border: 0;
    text-align:right;
}
.table-formation .diplome, #table-acces tr.transport{
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    border-bottom: 1px dotted gray;
    text-align:left;

}
.transport-detail{}
.views-field-diplome a{
     color: gray;
      text-decoration: none;
}
.views-field-diplome a:hover{
   text-decoration: underline;
}
/*STYLE PAGE FORMATIONS INITIALES*/
.title-formation, .title-association, .title-fiche-formation{
    text-align: center;
    color: #EA703F;
}
.title-fiche-formation, .title-association{
    text-align: right;
}
.table-liste-formation, .table-revue-presse-archives{
    width: 630px;/*largeur du tableau contenant les formations*/
    background: none;
    margin: 0 auto;
    
}
.table-liste-formation caption,.table-formation caption,.table-revue-presse-archives caption{
    color:black;
    font-weight:bold;
    text-align:left;
    text-transform:uppercase;
}
.titre-categorie-diplome, .titre-categorie-revue{
    border-bottom: 1px dotted gray;
    color: black;
}
.view-liste-formation-initiales{
    background: none;
    width:auto;
}
.views-field-titre-categorie, .views-field-titre-categorie a, .views-field-titre-revue-presse, .views-field-titre-revue-presse a{
    color: gray;
    text-align: right;
    text-decoration: none;
}
.views-field-titre-categorie a:hover, .views-field-titre-revue-presse a:hover{
    text-decoration: underline;
}
.tr-table-formations, .tr-table-revue-presse{
    background: none;

}
.views-field-table{
    color:black;
}
/*STYLE FICHE FORMATION*/
.view-Fiche-formation-intro{
    margin: 15px 0 0 0;
    padding: 0;
}
.view-Fiche-formation-savoir-plus{
    vertical-align:bottom;
    margin: 50% 0 0 0;
    padding: 0;
}
.view-Fiche-formation-savoir-plus a, .view-Logo-coordonnees-lycees a{
color: #d63e2a;
text-decoration:none;
}
.view-Fiche-formation-savoir-plus a:hover, .view-Logo-coordonnees-lycees a:hover{
text-decoration:underline;
}

span.field-content-savoir-plus{
    color: #02A7D5;
    font-size: 14px;
    font-weight: bold;
}
/*STYLE REVUE DE PRESSE ET ACTU ASSO */
.table-actu-asso{
    padding: 2px;
}
.table-revue-presse{
    padding: 0;
    margin: 0;
    width:99%;
}
.table-revue-presse td, .table-actu-asso td{
    border-bottom: 1px solid #F09500;
    padding: 5px 0;
}
.table-revue-presse .views-field-title a,.table-actu-asso .views-field-title a{
    color: #606071;
    font-size: 14px;
    font-weight: bold;
}
.table-actu-asso tr{
     border-top: 1px solid #F09500;
    padding: 5px 0;
}
.table-actu-asso .views-field-teaser a{
    color: #606071;
    text-decoration: none;
}
.table-actu-asso .views-field-teaser a:hover{
    color: #93117E;
    text-decoration: underline;
}
/*BLOC FLUX RSS*/
.block-aggregator a{
    color: black;
    text-decoration: none;
}
.block-aggregator a:hover{
    text-decoration: underline;
}
/*BLOC BOUTONS PARTENAIRES*/
#table-bouton-partenaire{
    width: 210px;
    margin: 0 auto;
    padding: 0;
    border: 0;
}
#table-bouton-partenaire img{
    border: 0;
     
}
#table-bouton-partenaire a{
    color: white;
    font-family: Arista,Trebuchet MS,sans serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8em;
    height:auto;
    padding:11px 7px;
    width:auto;
}
#table-bouton-partenaire td.stage a{
    background: url("../images/bt_proposer_stage.jpg") no-repeat top left;
    display: block;
    }
#table-bouton-partenaire td.stage a:hover{
    background: url("../images/bt_proposer_stage_hover.jpg") no-repeat top left;
   }
#table-bouton-partenaire td.objectif a{
    background: url("../images/bt_objectif_reussite.jpg") no-repeat top left;
    display: block;
    margin: 5px 0;
}
#table-bouton-partenaire td.objectif a:hover{
    background: url("../images/bt_objectif_reussite_hover.jpg") no-repeat top left;
    }

#formulaire_partenaire{
        width: 500px;
        margin: 0 auto;
        padding:5px 0;
}
/*STYLE QUICKTABS*/
.block-quicktabs{
    margin: 10px 0;
}