/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in a sidebar, the entire
 * #main content can shift completely below the sidebar.
 */

html {
 margin: 0;
 padding: 0;
}


body {
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-color: white;
	color: grey;
}

 /*------------------------------------------------------*
  *--------    CSS BLOCS     						 ----*
  *------------------------------------------------------*/


#general{
	margin:0 auto;
	padding:0;
	width:100%;
}

/*Haut de page  HEADER*/

#header{
	margin:0 auto;
	padding:0;
	width:980px;
	height:auto;
	background-color:transparent;
}

/*Contenu de page  CONTENT */

#contentPage {
	margin:0 auto;
	padding:0;
	width: 980px;
	background-color:#CCC;
}
#content-inner,#left-content,#right-content{
height: 100%;
}
/*//////SOUS ENTETE/////*/
#content-top{
	margin:0 auto;
	padding:5px;
	width:500px;
	height:auto;
	background-color: red;
	}
	
/*/// debut des colonnes ///*/
#left-content{
	float:left;
	position:relative;
	background-color:#00CC99;
	width:200px;
	left:0px;
}

/*/// partie de droite ///*/
#right-content{
	float:right;
	position:relative;
	background-color:#FF66CC;
	width:200px;
	right:0px;
}
/*inner content*/
#content-inner{
width:570px;
margin:0 auto;
float:left;
background-color:blue;
}
/*///    partie du centre   ///*/
#middle-content{
	float:left;
	position:relative;
	background-color:yellow;
	width:570px;
	padding:5px;
}
.swftools-wrapper wijering-imagerotator{
margin: 0 auto;
width: auto;
border: 1px solid #000;
}
/*PIED DE CONTENU*/
#content-bottom{
background:#C0c0c0;
width:570px;
}

/*Bas de page  FOOTER*/

#footer{
	margin:0 auto;
	padding:5px 0;
	width:980px;
	background: white url(../images/bg_footer.jpg) no-repeat bottom right;
	text-align: left;
	color: #9898a6;
}

#footer a{
color: #9898a6;
text-decoration:none;
}
#footer a:hover{
color: #000000;
}
/**----Fin FOOTER---***/