/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in a sidebar, the entire
 * #main content can shift completely below the sidebar.
 */

html {
 margin: 0;
 padding: 0;
}


body {
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-color: white;
	color: grey;
}

 /*------------------------------------------------------*
  *--------    CSS BLOCS     						 ----*
  *------------------------------------------------------*/


#general{
	margin:0 auto;
	padding:0;
	width:100%;
}

/*Haut de page  HEADER*/

#header{
	margin:0 auto;
	padding:0;
	width:980px;
	height:auto;
	background-color:transparent;
}

/*Contenu de page  CONTENT */

#contentPage {
	margin:0 auto;
	padding:0;
	width: 980px;
	background: white;/*couleur fond de page content*/
}
#content-inner,#left-content,#right-content{
height: 100%;
}
/*//////SOUS ENTETE/////*/
/*#content-top{
	margin:0 auto;
	padding:5px;
	width:500px;
	height:auto;
	background-color: red;
	}
*/
/*/// debut des colonnes ///*/
#left-content{
	float:left;
	position:relative;
	background-color:#00CC99;
	width:200px;
	left:0px;
}

/*/// partie de droite ///*/
#right-content{
	float:right;
	position:relative;
	background-color:#FF66CC;
	width:200px;
	right:0px;
}
/*inner content*/
#content-inner{
width:580px;
margin:0 auto;
float:left;
background-color: white;
color: purple;
}
/*///    partie du centre   ///*/
#middle-content{
	float:left;
	position:relative;
	background-color:silver;
	width:570px;
	padding:5px;
        margin: 0 auto;
}
.swftools-wrapper wijering-imagerotator{
margin: 0 auto;
width: auto;
border: 1px solid #000;
}
/*PIED DE CONTENU*/
#content-bottom{
background:#C0c0c0;
width:570px;
}

/*Bas de page  FOOTER*/

#footer{
	margin:0 auto;
	padding:5px 0;
	width:980px;
	background: white url(../images/bg_footer.jpg) no-repeat bottom right;
	text-align: left;
	color: #9898a6;
        height:75px;
}

#footer a{
color: #9898a6;
text-decoration:none;
}
#footer a:hover{
color: #000000;
}
/**----Fin FOOTER---***/
#content-top, #content-top-pageLycee, #content-top-pageAssociation{
    margin:0 auto;
    padding:5px;
    width:970px;
    height:auto;
    background: white url(../images/fieldset_top.gif) repeat-x scroll left 11px;
   }
/* LAYOUT PAGE LYCEE*/
#content-inner-pageLycee{
width:285px;
margin:0 auto;
float:left;
background-color:pink;
}
#left-content-pageLycee{
    float:left;
    position:relative;
    background-color:#FFF;
    width:340px;
    left:0px;
    padding:5px;
}
#middle-content-pageLycee{
    float:left;
    position:relative;
    background-color:white;
    width:275px;
    padding:5px;
    border-left: 1px solid #da5714;
}
#right-content-pageLycee{
    float:right;
    position:relative;
    background-color:#FFF;
    width:335px;
    right:0px;
    padding:5px;
    }
#tb-fiche-illus{
    margin:0 auto;
    width: 305px;
    padding: 5px;

    }
 /* LAYOUT PAGE FORMATION*/
 #middle-content-pageFormation{
    float:left;
    position:relative;
    background-color:white;
    width:645px;
    padding:5px;
    border-right: 1px solid #da5714;
}

#right-content-pageFormation{
    float:right;
    position:relative;
    background-color:white;
    color: grey;
    width:314px;
    right:0px;
    padding:5px;
}
/* LAYOUT PAGE ASSOCIATION ET ERREUR*/
#content-inner-pageAssociation, #content-inner-pageErreur{
width:auto;
margin:0 auto;
float:left;
background-color:pink;
}
#left-content-pageAssociation, #left-content-pageErreur{
    float:left;
    position:relative;
    background-color:#FFF;
    width:280px;
    left:0px;
    padding:5px;
}
#middle-content-pageAssociation, #middle-content-pageErreur{
    float:left;
    position:relative;
    background-color:white;
    width:420px;
    padding:5px;
    border-left: 1px solid #CFD0D2;
}
#middle-content-pageAssociation a, #middle-content-pageErreur a{
    color: #d63e2a;
    text-decoration: none;
    font-weight: bold;
}
#middle-content-pageAssociation a:hover, #middle-content-pageErreur a:hover{
    text-decoration: underline;
}
#right-content-pageAssociation, #right-content-pageErreur{
    float:right;
    position:relative;
    background-color:#FFF;
    width:240px;
    right:0px;
    padding:5px;
    }

/*****************************/
/* LAYOUT PAGE LOGIN*/
#content-inner-pageLogin{
width:auto;
margin:0 auto;
float:left;
background-color:pink;
}
#left-content-pageLogin{
    float:left;
    position:relative;
    background-color:#FFF;
    width:280px;
    left:0px;
    padding:5px;
}
#middle-content-pageLogin{
    float:left;
    position:relative;
    background-color: green;
    width:420px;
    padding:5px;
    border-left: 1px solid #CFD0D2;
}
#middle-content-pageLogin a{
    color: #d63e2a;
    text-decoration: none;
    font-weight: bold;
}
#middle-content-pageLogin a:hover{
    text-decoration: underline;
}
#right-content-pageLogin{
    float:right;
    position:relative;
    background-color:#FFF;
    width:240px;
    right:0px;
    padding:5px;
    }