/*
CSS pour navigation par image dans les slideshow créés par Views Slideshow (slider,singleframe...)
*/
/*
VIEWS SLIDESHOW SINGLEFRAME ====================
*/
/*COMPTEUR*/
.views-slideshow-controls-bottom{
    margin: 5px;
    padding: 5px;
    width: 450px;
}
.pager{}
.views_slideshow_singleframe_image_count{
  background-color: #9FC4DC;
  border-radius: 6px 6px 6px 6px;
  float: left;
  height: 12px;
  width: 12px;
  margin-right: 5px;
  text-indent: -9999px;
  cursor: pointer;
}

.views_slideshow_singleframe_image_count .active {
  background-color: #2874A2;
}
/*PAGER*/
.views_slideshow_singleframe_pager{
    margin: 2px 0 0 280px !important;
    margin: 2px 0 0 80px;
}
.views_slideshow_singleframe_pager a{
  background-color: #CFD0D2;
  border-radius: 6px 6px 6px 6px;
  float: left;
  height: 12px;
  width: 12px;
  margin-right: 5px;
  text-indent: -9999px;
  cursor: pointer;
}

.views_slideshow_singleframe_pager .activeSlide a {
  background-color: #606171;
}
/*NAVIGATION*/
.views_slideshow_singleframe_controls{height: 20px;margin: 0 auto;width: 200px;float: right;}
.views_slideshow_singleframe_previous, .views_slideshow_singleframe_next, .views_slideshow_singleframe_pause {
  width:18px;
  height:0px;
  padding-top:18px;
  display: inline-block;
  overflow:hidden;
}
.views_slideshow_singleframe_previous {
  background:url('../css_galeries/images/button_nav.png') 0 18px;
  
}
.views_slideshow_singleframe_next{
  background:url('../css_galeries/images/button_nav.png')18px 18px;  
}
.views_slideshow_singleframe_previous :hover{}

.views_slideshow_singleframe_next :hover{}
/*
VIEWS SLIDESHOW SLIDER ===================================
*/
.views_slideshow_slider_controls{height: 20px;margin: 0 auto;width: 200px;float: right;}
.views_slideshow_slider_previous, .views_slideshow_slider_next, .views_slideshow_slider_pause{
  width:18px;
  height:0px;
  padding-top:18px;
  display: inline-block;
  overflow:hidden;
}
.views_slideshow_slider_previous{background:url('../css_galeries/images/button_nav.png');}
.views_slideshow_slider_pause{}
.views_slideshow_slider_next{background:url('../css_galeries/images/button_nav.png') 18px 0;}
.views_slideshow_slider_next a:hover{background:url('../css_galeries/images/button_nav.png') 18px 18px;}

/*
VIEWS 3 CYCLE ===================================
*/
/*Place le bloc du pager*/
.views-slideshow-controls-bottom{float: right;margin: 0 0 10px 0;}
#widget_pager_bottom_annonce_accueil-block_1 {margin: 2px 0 0 280px !important;margin: 2px 0 0 80px;}
/*Style */
.widget_pager .views_slideshow_pager_field_item{  background-color: #CFD0D2;
  border-radius: 6px 6px 6px 6px;
  float: left;
  height: 12px;
  width: 12px;
  margin-right: 5px;
  text-indent: -9999px;
  cursor: pointer;}
.widget_pager .active,.widget_pager :hover{background-color: #606171;border-radius: 6px 6px 6px 6px;}
/*
VIEWS 3 CYCLE: DIAPO CONTENU ===================================
*/
.galerie .views_slideshow_cycle_slide img{
    border: 0.2em #D63E2A solid;padding: 0.2em;display: block;
left: 8em;position: relative;
}
.galerie .views_slideshow_controls_text_previous a,.galerie .views_slideshow_controls_text_next a{
    width: 4.4em;height: 4.4em; overflow: hidden;text-indent: 5em;position: relative;
}
.galerie .views_slideshow_controls_text_pause{display: none;}
.galerie .views_slideshow_controls_text_previous a{
    background:url('../css_galeries/images/arrow-rond-pf.png') 4.3em 4.3em;float: left;}
.galerie .views_slideshow_controls_text_previous a:hover{
    background:url('../css_galeries/images/arrow-rond-pf.png') 4.3em 11.2em;float: left;}
.galerie .views_slideshow_controls_text_next a{
    background:url('../css_galeries/images/arrow-rond-pf.png') 0 4.3em;float: right;}
.galerie .views_slideshow_controls_text_next a:hover{
    background:url('../css_galeries/images/arrow-rond-pf.png') 0 11.2em;float: right;}